# Python cache - cython files (.pyc)
__pycache__/

# wandb configuration files and offline logs 
wandb/

# Virtual environment local files (.pyc) + Local files on packages 
assignment2/

# Mac's window size + application icon size checker 
.DS_Store/